<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="banner">
      <div class="content">
        <h2> Search For Your Pokemon</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit aspernatur assumenda dignissimos quis. Blanditiis ratione odio natus vel alias assumenda sequi distinctio laboriosam quas obcaecati unde consectetur quaerat vero qui quibusdam cum eligendi dolore cupiditate, eveniet quis perferendis. </p>
        <form>
          <input type="text" id="" name="" placeholder="Here..."><br>
        </form>
      </div>
      <img src="images/pokeball.png" alt="">
    </div>
    <div class="main-container">
      <% pokemon.forEach(function(pokemon){ %>
        <div class="pokemon-container">
          <div class="pokeId"><%= pokemon.id %></div>
    
          <div class="front">
          
            <img class="thumbnail" src="<%= pokemon.image %>" alt="" />
            <h3 class="name-poke"><%= pokemon.name %></h3>
            <div class="stats">
              <p class="viewers icon"><%=pokemon.weight%>Kg.</p>
              <div class="types">
               
                <img src="images/types/<%=pokemon.type1%>.png" alt="" />
                <% if (pokemon.type2){%>
                  <img src="images/types/<%=pokemon.type2%>.png" alt="" />
                <%}%>

                
                
              </div>
            </div>
          </div>
    
          <div class="back">
            <div class="streaming-info">
              <p class="game-stat"><%=pokemon.attack%><span>Attack</span></p>
              <p class="game-stat"><%=pokemon.defense%><span>Defense</span></p>
            </div>
            <button class="btn">Learn more about <%= pokemon.name %></button>
            <div class="types">
              <div class="streamer">
                <div class="sprites"><img src="<%=pokemon.sprite %>" alt="" /></div>
                
                
              </div>
              <div class="streamer">
                <div class="sprites"><img src="<%=pokemon.shinysprite%>" alt="" /></div>
                
               
              </div>
            </div>
          </div>
    
          <div class="background">
            <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(0, 5, 10);"></path></svg></div>
          </div>
        </div>
        
  
        <%})%>


    </div>
  </body>
  <script src="../public/JS/script.js"></script>
</html>
